<mat-vertical-stepper>
    <!-- step 1 -->
    <mat-step>
        <ng-template matStepLabel>Etat Habituel des Manifestations Oropharyngées</ng-template>
        <app-dynamic-form [questions]="questions1" (saveEvent)='save($event)'></app-dynamic-form>
    </mat-step>
    <!-- step 2 -->
    <mat-step>
        <ng-template matStepLabel>Etat Habituel des Mobilités Faciales</ng-template>
        <app-dynamic-form [questions]="questions2" (saveEvent)='save($event)'></app-dynamic-form>
    </mat-step>
    <!-- step 3 -->
    <mat-step>
        <app-dynamic-form [questions]="questions3" (saveEvent)='save($event)'></app-dynamic-form>
        <ng-template matStepLabel>Etat Habituel des Manifestations de Mobilité ou d'immobilite corporelle volontaires</ng-template>
    </mat-step>
    <!-- step 4 -->
    <mat-step>
        <app-dynamic-form [questions]="questions4" (saveEvent)='save($event)'></app-dynamic-form>
        <ng-template matStepLabel>Etat Emotionnel et Affectif: Habituellement la Personne ...</ng-template>
    </mat-step>
    
</mat-vertical-stepper>